body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
}
